.checkbox-input{
  display: inline-block;
  margin: 15px;
}
p{
  display: inline;
}

.contact{
  
  width: 15%;
  padding: 10px;
  margin: 15px;
  background:rgb(202, 202, 200) ;
  border-radius: 10px;
}
.input {
  padding: 5px;
  font-size: 20px;
  width: 16%;
  font-family:'Dancing Script', cursive;
  margin: 15px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
      
     
}
::placeholder{
  color:hsl(0, 0%, 2%);
}